header{
    color: #00be06;
    text-align: center;
    font-size: 2.5rem;
    font-weight: bold;
    height: 120px;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
}
.header img {
    height: 100%;
    max-width: 100%;
    object-fit: contain;
  }
.nav-link{
    font-weight: bold;
}

@media only screen and (max-width: 400px) {
    .header img{
        height: 50%;
        max-width: 50%;
    }

    .header span{
        font-size: 1.2rem;
    }
  }